
.st {
  width: 60px;
  height: 70px;
  opacity: 0.7;
}
.Join{
  opacity: 0.5;
  position: absolute; top: 80%; left: 40%;
  margin-bottom: 4cm;

}
.blockback{
  background-color: black;
  opacity: 0.5;
width: 10000%;
height: 10000% ;
margin-left: -25px;
  position: absolute;

}
.stream {
  background-image: url('http://localhost:3000/video-camera.png');
  width: 32px;
  height: 32px;
  opacity: 0.7;
  transition-property:  margin-top;
  transition-duration: 0.11s;
  transition-delay: 0.1s;
 }

 .home {
  background-image: url('http://localhost:3000/home-page.png');
  width: 32px;
  height: 32px;
  opacity: 0.7;
  transition-property:  margin-top;
  transition-duration: 0.11s;
  transition-delay: 0.1s;
 }

 .home:hover {
  margin-top: -0.1cm;

  opacity: 1;

}

.stream:hover {
  margin-top: -0.1cm;

  opacity: 1;

}
 
 
.st:hover {
  width: 65px;
  height: 75px;
  opacity: 1;

}
.s1{
  position: relative;
}
.s12{
  margin-top: -1cm;
  position: absolute; top: 100%; left: -50px;

}
.unv{
  visibility: hidden;
}

.s2{
  margin-top: -1cm;
  position: absolute; top: 100%; left: 0px;
}
.App-header {
  background : #e6e6e6;
}


.Vd-box{
  border: 0.5px solid #BFBFBF;;
  box-shadow: 0px 3px 3px 0px  #888888;
  position: relative;
  transition-property: border;
  transition-property:  box-shadow;
  transition-property:  position;
  transition-duration: 0.11s;
  transition-delay: 0.1s;


}

.mov{
  transition-property: margin-top;
  transition-duration: 0.11s;
  transition-delay: 0.1s;

}
.overcol{

}
.mov:hover .Join{
  opacity: 1;

}
.mov:hover  {
  margin-top: -0.1cm;

}


.Vd-box:hover{
  border: 0.5px solid #BFBFBF;;
  box-shadow: 0px 5px 5px 0px  #33ccff;

}
.BK-btn:hover {
  background-image: linear-gradient(
    to bottom,
    hsl(344, 100%, 50%),
    hsl(31, 100%, 40%)
  );
}

.BK-btn {
  background-image: linear-gradient(to right,
  hsl(211, 100%, 50%),
  hsl(179, 100%, 30%)
);
  transition: background-image 0.2s linear;

}

.BK-header {
  box-shadow: 0px 3px 10px #888888;

  background-image: linear-gradient(to right,
  #33ccff
  , #cc6699

  );

}

.gradient {
  position: relative;
  background-image: linear-gradient(to right,
  #33ccff
  , #cc6699

  );

  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left,
  #33ccff
  , #e489b6

  );

  z-index: -1;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}